In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#read data
data = "https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv"
!wget $data

--2023-09-27 13:11:42--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: 'data.csv'

data.csv            100%[===================>]   1.41M  2.37MB/s    in 0.6s

2023-09-27 13:11:43 (2.37 MB/s) - 'data.csv' saved [1475504/1475504]

In [30]:
df = pd.read_csv(data)
df.head()
df.columns

Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Driven_Wheels',
       'Number of Doors', 'Market Category', 'Vehicle Size', 'Vehicle Style',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP'],
      dtype='object')

In [31]:
cols = ['Make', 'Model', 'Year', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Vehicle Style',
       'highway MPG', 'city mpg', 'MSRP']

In [32]:
df = df[cols]
df.head()

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle Style,highway MPG,city mpg,MSRP
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500

In [34]:
df = df.rename(columns = {"MSRP":"price"})
df.head()

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle Style,highway MPG,city mpg,price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500

In [35]:
df.columns = df.columns.str.replace(" ", "_").str.lower()
df.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500

In [36]:
df.isnull().sum()

make                  0
model                 0
year                  0
engine_hp            69
engine_cylinders     30
transmission_type     0
vehicle_style         0
highway_mpg           0
city_mpg              0
price                 0
dtype: int64

In [37]:
df = df.fillna(0)
df.isnull().sum()

make                 0
model                0
year                 0
engine_hp            0
engine_cylinders     0
transmission_type    0
vehicle_style        0
highway_mpg          0
city_mpg             0
price                0
dtype: int64

In [38]:
df.describe()

,year,engine_hp,engine_cylinders,highway_mpg,city_mpg,price
count,11914.000000,11914.000000,11914.000000,11914.000000,11914.000000,1.191400e+04
mean,2010.384338,247.941749,5.614655,26.637485,19.733255,4.059474e+04
std,7.579740,110.507669,1.800554,8.863001,8.987798,6.010910e+04
min,1990.000000,0.000000,0.000000,12.000000,7.000000,2.000000e+03
25%,2007.000000,170.000000,4.000000,22.000000,16.000000,2.100000e+04
50%,2015.000000,225.000000,6.000000,26.000000,18.000000,2.999500e+04
75%,2016.000000,300.000000,6.000000,30.000000,22.000000,4.223125e+04
max,2017.000000,1001.000000,16.000000,354.000000,137.000000,2.065902e+06

In [43]:
###Question 1
#What is the most frequent observation (mode) for the column transmission_type? -> AUTOMATIC
df.transmission_type.mode()

0    AUTOMATIC
Name: transmission_type, dtype: object

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   make               11914 non-null  object
 1   model              11914 non-null  object
 2   year               11914 non-null  int64
 3   engine_hp          11914 non-null  float64
 4   engine_cylinders   11914 non-null  float64
 5   transmission_type  11914 non-null  object
 6   vehicle_style      11914 non-null  object
 7   highway_mpg        11914 non-null  int64
 8   city_mpg           11914 non-null  int64
 9   price              11914 non-null  int64
dtypes: float64(2), int64(4), object(4)
memory usage: 930.9+ KB

In [44]:
###Question 2
#Create the correlation matrix for the numerical features of your dataset. In a correlation matrix, you compute the correlation coefficient between every pair of features in the dataset.
#What are the two features that have the biggest correlation in this dataset? -> highway_mpg and city_mpg
num_cols = ["year", "engine_hp", "engine_cylinders", "highway_mpg", "city_mpg", "price"]
df[num_cols].corr()

,year,engine_hp,engine_cylinders,highway_mpg,city_mpg,price
year,1.000000,0.338714,-0.040708,0.258240,0.198171,0.227590
engine_hp,0.338714,1.000000,0.774851,-0.415707,-0.424918,0.650095
engine_cylinders,-0.040708,0.774851,1.000000,-0.614541,-0.587306,0.526274
highway_mpg,0.258240,-0.415707,-0.614541,1.000000,0.886829,-0.160043
city_mpg,0.198171,-0.424918,-0.587306,0.886829,1.000000,-0.157676
price,0.227590,0.650095,0.526274,-0.160043,-0.157676,1.000000

In [53]:
mean_price = df.price.mean()
print(mean_price)
df["above_average"] = (df.price > mean_price).astype(int)
df.head()

40594.737032063116

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price,above_average
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135,1
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650,1
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350,0
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450,0
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500,0

In [58]:
df = df.drop("price", axis=1)

KeyError: "['price'] not found in axis"

In [59]:
df.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,above_average
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,1
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,1
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,0
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,0
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,0

In [60]:
from sklearn.model_selection import train_test_split

In [61]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [67]:
###Question 3
#Calculate the mutual information score between above_average and other categorical variables in our dataset. Use the training set only.
#Round the scores to 2 decimals using round(score, 2).
#Which of these variables has the lowest mutual information score? -> transmission_type
from sklearn.metrics import mutual_info_score

In [68]:
cat_cols = ["make","model","vehicle_style","transmission_type"]

In [69]:
def mutual_info_score_func(column_series):
    return round(mutual_info_score(column_series, df_full_train.above_average),2)
df_mutual_info = df_full_train[cat_cols].apply(mutual_info_score_func)
df_mutual_info = df_mutual_info.sort_values(ascending=False)
display(df_mutual_info)

model                0.46
make                 0.24
vehicle_style        0.08
transmission_type    0.02
dtype: float64

In [74]:
###Question 4
#Now let's train a logistic regression.
#Remember that we have several categorical variables in the dataset. Include them using one-hot encoding.
#Fit the model on the training dataset.
#To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:
#model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
#Calculate the accuracy on the validation dataset and round it to 2 decimal digits.
#What accuracy did you get? -> 0.95
num_cols = ["year", "engine_hp", "engine_cylinders", "highway_mpg", "city_mpg"]
cat_cols = ["make","model","vehicle_style","transmission_type"]
from sklearn.feature_extraction import DictVectorizer
dv = DictVectorizer(sparse=False)

train_dic = df_train[cat_cols + num_cols].to_dict(orient="records")
X_train = dv.fit_transform(train_dic)
y_train = df_train["above_average"]

val_dic = df_val[cat_cols + num_cols].to_dict(orient="records")
X_val = dv.transform(val_dic)
y_val = df_val["above_average"]

In [76]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

LogisticRegression(C=10, max_iter=1000, random_state=42, solver='liblinear')

In [79]:
y_pred = model.predict_proba(X_val)[:,1]
churn_decision = (y_pred >= 0.5)
round((y_val == churn_decision).mean(),2)

0.95

In [102]:
###Question 5
#Let's find the least useful feature using the feature elimination technique.
#Train a model with all these features (using the same parameters as in Q4).
#Now exclude each feature from this set and train a model without it. Record the accuracy for each model.
#For each feature, calculate the difference between the original accuracy and the accuracy without the feature.
#Which of following feature has the smallest difference? -> 'year'
columns = cat_cols + num_cols
accurancy = []
for col in columns:
    new_cols = columns.copy()
    new_cols.remove(col)
    print(new_cols)
    dv = DictVectorizer(sparse=False)
    train_dic = df_train[new_cols].to_dict(orient="records")
    X_train = dv.fit_transform(train_dic)
    y_train = df_train["above_average"]
    val_dic = df_val[new_cols].to_dict(orient="records")
    X_val = dv.transform(val_dic)
    y_val = df_val["above_average"]
    model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
    model.fit(X_train, y_train)
    y_pred = model.predict_proba(X_val)[:,1]
    churn_decision = (y_pred >= 0.5)
    accurancy.append({col:0.95-(y_val == churn_decision).mean()})

['model', 'vehicle_style', 'transmission_type', 'year', 'engine_hp', 'engine_cylinders', 'highway_mpg', 'city_mpg']
['make', 'vehicle_style', 'transmission_type', 'year', 'engine_hp', 'engine_cylinders', 'highway_mpg', 'city_mpg']
['make', 'model', 'transmission_type', 'year', 'engine_hp', 'engine_cylinders', 'highway_mpg', 'city_mpg']
['make', 'model', 'vehicle_style', 'year', 'engine_hp', 'engine_cylinders', 'highway_mpg', 'city_mpg']
['make', 'model', 'vehicle_style', 'transmission_type', 'engine_hp', 'engine_cylinders', 'highway_mpg', 'city_mpg']
['make', 'model', 'vehicle_style', 'transmission_type', 'year', 'engine_cylinders', 'highway_mpg', 'city_mpg']
['make', 'model', 'vehicle_style', 'transmission_type', 'year', 'engine_hp', 'highway_mpg', 'city_mpg']
['make', 'model', 'vehicle_style', 'transmission_type', 'year', 'engine_hp', 'engine_cylinders', 'city_mpg']
['make', 'model', 'vehicle_style', 'transmission_type', 'year', 'engine_hp', 'engine_cylinders', 'highway_mpg']

In [103]:
accurancy

[{'make': 0.0037138061267310007},
 {'model': 0.026374318086445636},
 {'vehicle_style': 0.013365505665127952},
 {'transmission_type': 0.004972723457826178},
 {'year': 0.0024548887956357124},
 {'engine_hp': 0.025954678976080503},
 {'engine_cylinders': 0.0028745279060008455},
 {'highway_mpg': 0.007910197230381777},
 {'city_mpg': 0.0037138061267310007}]

In [157]:
###Question 6
#For this question, we'll see how to use a linear regression model from Scikit-Learn.
#We'll need to use the original column price. Apply the logarithmic transformation to this column.
#Fit the Ridge regression model on the training data with a solver 'sag'. Set the seed to 42.
#This model also has a parameter alpha. Let's try the following values: [0, 0.01, 0.1, 1, 10].
#Round your RMSE scores to 3 decimal digits.
#Which of these alphas leads to the best RMSE on the validation set? -> 0.1
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_absolute_error, mean_squared_error
df_linear = pd.read_csv(data)
cols = ['Make', 'Model', 'Year', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Vehicle Style',
       'highway MPG', 'city mpg', 'MSRP']
df_linear = df_linear[cols]
df_linear = df_linear.rename(columns = {"MSRP":"price"})
df_linear.price = np.log1p(df_linear.price)
df_linear = df_linear.fillna(0)
df_linear.columns = df_linear.columns.str.replace(" ", "_").str.lower()
df_full_train, df_test = train_test_split(df_linear, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [152]:
#ridge_cv_model = RidgeCV(alphas=(0.0000001, 0.01, 0.1, 1.0, 10.0),scoring='neg_mean_absolute_error')

In [153]:
num_cols = ["year", "engine_hp", "engine_cylinders", "highway_mpg", "city_mpg"]
cat_cols = ["make","model","vehicle_style","transmission_type"]
train_dic = df_train[cat_cols + num_cols].to_dict(orient="records")
X_train = dv.fit_transform(train_dic)
y_train = df_train["price"]

val_dic = df_val[cat_cols + num_cols].to_dict(orient="records")
X_val = dv.transform(val_dic)
y_val = df_val["price"]

In [158]:
alphas = [0, 0.01, 0.1, 1.0, 10.0]
rmse_array = []
for alpha in alphas:
    ridge_model = Ridge(alpha=alpha)
    ridge_model.fit(X_train, y_train)
    y_preds = ridge_model.predict(X_val)
    MAE = mean_absolute_error(y_val, y_preds)
    MSE = mean_squared_error(y_val, y_preds)
    RMSE = np.sqrt(MSE)
    rmse_array.append({"alpha":alpha, "RMSE":RMSE})

In [159]:
rmse_array

[{'alpha': 0, 'RMSE': 4043167097450.072},
 {'alpha': 0.01, 'RMSE': 0.22445872016687185},
 {'alpha': 0.1, 'RMSE': 0.2146592009879435},
 {'alpha': 1.0, 'RMSE': 0.2295745070645518},
 {'alpha': 10.0, 'RMSE': 0.32033174012236776}]